{
  "env": {
    "es6": true,
    "node": true,
  },
  "plugins": [
    "node",
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
  ],
  "rules": {
    "no-var": "error",
    "no-multi-spaces": ["error"],
    "node/exports-style": ["error", "module.exports"]
  }
}
